<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <div id="app">
        <!-- 1. 定义全局组件，且每个组件实例都相互独立 -->
        <div class="wrap">
            <button-counter></button-counter>
            <button-counter></button-counter>
            <button-counter></button-counter>
        </div>

        <!-- 2. 向子组件传递数据 -->
        <div class="wrap">
            <blog-post title="My journey with Vue"></blog-post>
            <blog-post title="Blogging with Vue"></blog-post>
            <blog-post title="Why Vue is so fun"></blog-post>
            <blog-post
                v-for="post in posts"
                :key="post.id"
                :title="post.title"
            ></blog-post>
        </div>

        <!-- 3. 监听子组件事件 -->
        <div class="wrap" :style="{ fontSize: postFontSize + 'px' }">
            <blog-post-with-btn
                v-for="post in posts"
                :key="post.id"
                :title="post.title"
                @enlarge-text="enlargeText($event)"
            ></blog-post-with-btn>
        </div>

        <!-- 4. 通过插槽分发内容 -->
        <div class="wrap">
            <alert-box>Something bad happened.</alert-box>
        </div>
    </div>
    <script src="../assets/js/vue@3.2.22.js"></script>
    <script>
        // 示例：组件基础
        const app = Vue.createApp({
            data() {
                return {
                    posts: [    // 示例 2
                        { id: 1, title: 'My journey with Vue —— from posts' },
                        { id: 2, title: 'Blogging with Vue —— from posts' },
                        { id: 3, title: 'Why Vue is so fun —— from posts' },
                    ],
                    postFontSize: 12,    // 示例 3
                }
            },
            methods: {
                enlargeText(e) {
                    console.log(e)
                    this.postFontSize += e;
                }
            }
        })

        // 1. 定义一个全局组件：button-counter
        app.component('button-counter', {
            data() {
                return {
                    count: 0
                }
            },
            template: `
                <button @click="count++">You clicked me {{ count }} times.</button>
            `
        })

        // 2. 通过 `props` 向子组件传递数据
        app.component('blog-post', {
            props: ['title'],
            template: `<h4>{{ title }}</h4>`
        })

        // 3. 监听子组件事件
        // - 在子组件点击按钮触发事件`enlargeText`，父组件监听（@或v-on）到该事件然后进行处理
        // - $emit` 还可以利用第2个参数抛出一个值
        app.component('blog-post-with-btn', {
            data() {
                return {
                    fontSize: ''
                }
            },
            props: ['title'],
            emits: ['enlargeText'],
            template: `
                <h4 :style="{ fontSize: fontSize + 'px' }">{{ title }}</h4>
                <button @click="$emit('enlargeText', 5)">Enlarge text by App Component</button>
                <button @click="enlargeTextBySelf">Enlarge text by self</button>
            `,
            methods: {
                enlargeTextBySelf() {
                    this.fontSize += 1;
                }
            }
        })

        // 4. 通过插槽分发内容
        // - 使用的时候就在标签放内容
        app.component('alert-box', {
            template: `
                <div class="alert-box">
                    <strong>Error! </strong>
                    <slot></slot>
                </div>
            `
        })

        app.mount('#app')
    </script>
</body>
</html>