<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <div id="app">
        <div class="wrap">
            Ask a yes/no question: 
            <input v-model="question">
        </div>
        <div class="wrap">
            <div :class="image ? 'mb-16' : ''">{{ answer }}</div>
            <img v-if="image" class="wp-100" :src="image" alt="">
        </div>
    </div>
    <script src="https://unpkg.com/vue@3.2.22"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script>
        // 示例：侦听器 watch
        const vm = Vue.createApp({
            data() {
                return {
                    question: '',
                    answer: 'Questions usually contain a question mark. ;-)',
                    image: ''
                }
            },
            watch: {
                question(newQuestion, oldQuestion) {
                    if (newQuestion.indexOf('?') > -1) {
                        this.getAnswer()
                    } else {
                        this.answer = 'Questions usually contain a question mark. ;-)'
                        this.image = ''
                    }
                }
            },
            methods: {
                getAnswer() {
                    this.answer = 'Thinking...'
                    axios
                        .get('https://yesno.wtf/api')
                        .then(res => {
                            this.answer = res.data.answer
                            this.image = res.data.image
                        })
                        .catch(err => {
                            this.answer = 'Error! Could not reach the API. ' + err
                        })
                }
            }
        }).mount('#app')
    </script>
</body>
</html>