.wrap {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 20px;
}
.mb-16 {
    margin-bottom: 16px;
}
.wp-100 {
    width: 100%;
}
.color-red {
    color: red;
}
.bolder {
    font-weight: bolder;
}
.alert-box {
    padding: 10px 20px;
    background: #f3beb8;
    border: 1px solid #f09898;
}
.tab-button {
    padding: 6px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f0f0f0;
    margin-bottom: -1px;
    margin-right: -1px;
}
.tab-button:hover {
    background: #e0e0e0;
}
.tab-button.active {
    background: #e0e0e0;
}
.tab-content {
    border: 1px solid #ccc;
    padding: 10px;
}